
  <%= @product.name %>
  <%= @product.price %>
  <%= @product.description %>
  <img src="<%= @product.image_url %>">
  
  <form action="/products/<%= @product.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this product">
  </form>

<%# 
t.string "name"
    t.decimal "price", precision: 8, scale: 2
    t.string "image_url"
    t.text "description" %>